@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;

}
.tracking {
    letter-spacing: 5px;
}

.grid-rows-custom {
    grid-template-rows: 600px 600px;
  }


  